<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
        
        <title>{% block title %}{% endblock %}</title>
        
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <style>
            .cusfont{
                font-family: "Playfair Display", serif;
                font-optical-sizing: auto;
            }
        </style>
    </head>
    <body class="bg-[#daf0ee] text-[#3b413c] cusfont flex flex-col">
        <header class="bg-[#94d1be] text-white text-xl font-bold py-4 text-center w-full">
            <h1 onclick="location.href = '/landing';" class="hover:cursor-pointer text-3xl w-fit mx-2">VCGEN</h1>
        </header>
        {% block body %}
        {% endblock %}

        <footer class="bg-[#3b413c] text-white py-4 text-center mt-auto">
            <p>&copy; 2025 VCGEN. All Rights Reserved.</p>
        </footer>
    </body>    
</html>
