{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}
<div class="container mx-auto p-6 font-sans bg-gray-100 min-h-screen">
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-2xl font-semibold">Classes</h1>
        <button onclick="location.href = '/newclass';" class="p-2 rounded-md bg-[#94d1be] text-white flex items-center justify-center text-2xl hover:bg-[#9db5b2] transition duration-300 hover:cursor-pointer">
            New Class +
        </button>
    </div>

    <div class="flex flex-col gap-4">
        {% for class in classes %}
        <div class="flex justify-between items-center p-4 bg-white rounded-lg shadow-md hover:shadow-lg transition">
            <span class="text-lg font-medium">{{ class.name }}</span>
            <span><button class="rounded-md p-2 bg-[#94d1be] text-white flex items-center justify-center text-lg hover:bg-[#9db5b2] transition duration-300 hover:cursor-pointer" onclick="location.href = '/results/{{class.course_id}}';">Results</button></span>
        </div>
        {% empty %}
        <p class="text-gray-500 italic">No classes available yet.</p>
        {% endfor %}
        <!-- <div class="flex justify-between items-center p-4 bg-white rounded-lg shadow-md hover:shadow-lg transition">
            <span class="text-lg font-medium">Subject Name</span>
            <span><button class="rounded-md p-2 bg-[#94d1be] text-white flex items-center justify-center text-lg hover:bg-[#9db5b2] transition duration-300 hover:cursor-pointer" onclick="window.location.href='{%url 'responses' %}';">Responses</button></span>
        </div> -->
    </div>
</div>
{% endblock %}
