{% extends "base.html" %}

{% block title %}
Landing Page
{% endblock %}

{% block body %}
<div class="flex h-screen bg-[#daf0ee]">
    <div class="flex-1 bg-[#94d1be] text-white flex items-center justify-center cursor-pointer hover:bg-[#9db5b2] transition duration-300" onclick="window.location.href='{% url 'login' %}';">
        <div class="text-center">
            {%load static%}
            <img src="{% static 'main/teacher-svg.svg' %}" alt="Faculty Icon" class="w-12 h-12 mb-4 mx-auto">
            <h2 class="text-3xl font-bold">Faculty</h2>
            <p class="mt-2 text-lg">Click here to access Faculty Login</p>
        </div>
    </div>

    <div class="flex-1 bg-[#ffffff] text-[#3b413c] flex items-center justify-center cursor-pointer hover:bg-[#f1f5f3] transition duration-300">
        <div class="text-center">
            {%load static%}
            <img src="{% static 'main/student-svg.svg' %}" alt="Student Icon" class="w-12 h-12 mb-4 mx-auto">
            <h2 class="text-3xl font-bold">Student</h2>
            <p class="mt-2 text-lg">Click here to access Student Login</p>
        </div>
    </div>
</div>
{% endblock %}
